<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
    <title>New Accounts | AASTUSCS</title>
</head>
<body>

<div layout:fragment="content">
    <div class="row">

        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">New Account</h4>
                </div>
                <div class="content">
                    <form method="post" th:action="@{/user/form}" th:object="${user}">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" required="" class="form-control border-input" name="firstName" placeholder="First Name"/>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" required="" class="form-control border-input" name="lastName" placeholder="Last Name"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Phone Number</label>
                                    <input type="tel" required="" class="form-control border-input" name="phone" placeholder="Phone"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Role</label>

                                    <select class="form-control border-input" name="role" required="true">
                                        <option value="">Select a Role</option>
                                        <option th:each="operator : ${role}" th:value="${operator.role_id}" th:inline="text">[[${operator.role}]]</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Office</label>

                                    <select class="form-control border-input"  name="respSector" required="true">
                                        <option value="">Select an Office</option>
                                        <option th:each="operator : ${resp}" th:value="${operator.id}" th:inline="text">[[${operator.name}]]</option>
                                    </select>
                                </div>
                            </div>
                        </div>




                        <div class="text-center">
                            <button type="submit" class="btn btn-info btn-fill btn-wd">Update Profile</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>



    </div>
</div>
</body>
</html>